:root {
  --white: #fff;
  --black: #000;
  --black-50: rgba(0, 0, 0, 0.5);
  --red: rgb(255, 85, 0);
  --red-50: rgba(255, 85, 0, 0.5);

  --background: var(--black);
  --forground: var(--white);
  --highlight: var(--red);

  --top: 150px;

  --bg-image: url('https://res.cloudinary.com/tihos/image/upload/f_auto,q_auto/v1669412465/space_m1b5qp.jpg');
  --bg-gradient: linear-gradient(to bottom, rgba(71, 1, 54, 0.73), rgba(0, 19, 129, 0.52));
  --background-grad: var(--bg-gradient), var(--bg-image);

  --padding: 2rem;
}

@media (max-width: 768px) {
  :root {
    --padding: 1rem;
  }
}

body {
  background: var(--background-grad) fixed;
  color: var(--white);
  background-size: 130% 180%;
  background-position: center;
}

h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
}

p {
  font-size: 2rem;
}

@media (width<=768px) {
  p {
    font-size: 1.25rem;
    text-align: justify;
  }
}

a {
  cursor: pointer;
  background: var(--black-50);
  padding: 0.7rem 1rem;
  color: var(--forground);
  border-radius: 100vw;
}

a:hover {
  background: var(--red-50);
  color: var(--forground);
}

.hamburger {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 100;
  z-index: 100;
}

.grid {
  max-width: 1200px;
  /* min-height: 100vh; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

img {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

strong {
  font-weight: bolder;
}